samples/pug/codepen.pug
doctype html
html
  head
    title Split View Demo - Codepen Layout
    link(rel="stylesheet" href="../split-view.css")

    style.
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }

      split-divider[thin],
      split-divider[wide] {
        background-color: #333;
      }

      header {
        background: #000;
        min-height: 70px;
        border-bottom: 5px solid #343436;
        box-shadow: 0 1px 1px black;
      }

      footer {
        background: #343436;
        min-height: 40px;
      }

      .preview {
        height: 200px;
      }

      .editor {
        width: 33.33333%;
        background: #1D1E20;
      }

      split-view[vertical] > split-divider[wide] {
        width: 20px;
      }

      split-view[horizontal] > split-divider[wide] {
        height: 20px;
      }


  body
    split-view(horizontal)
      header Codepen

      split-view(vertical, fill)
        section.editor.html

        split-divider(wide)

        section.editor.css

        split-divider(wide)

        section.editor.js(fill)

      split-divider(wide)

      section.preview

      footer

    script(src="../split-view.js")

samples/codepen.html
<!DOCTYPE html>
<html>
  <head>
    <title>Split View Demo - Codepen Layout</title>
    <link rel="stylesheet" href="../split-view.css">
    <style>
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      
      split-divider[thin],
      split-divider[wide] {
        background-color: #333;
      }
      
      header {
        background: #000;
        min-height: 70px;
        border-bottom: 5px solid #343436;
        box-shadow: 0 1px 1px black;
      }
      
      footer {
        background: #343436;
        min-height: 40px;
      }
      
      .preview {
        height: 200px;
      }
      
      .editor {
        width: 33.33333%;
        background: #1D1E20;
      }
      
      split-view[vertical] > split-divider[wide] {
        width: 20px;
      }
      
      split-view[horizontal] > split-divider[wide] {
        height: 20px;
      }
      
      
    </style>
  </head>
  <body>
    <split-view horizontal>
      <header>Codepen</header>
      <split-view vertical fill>
        <section class="editor html"></section>
        <split-divider wide></split-divider>
        <section class="editor css"></section>
        <split-divider wide></split-divider>
        <section class="editor js" fill></section>
      </split-view>
      <split-divider wide></split-divider>
      <section class="preview"></section>
      <footer></footer>
    </split-view>
    <script src="../split-view.js"></script>
  </body>
</html>
