samples/demo.html
<!DOCTYPE html>
<html>
  <head>
    <title>Split View Demo</title>
    <link rel="stylesheet" href="../split-view.css">
    <style>
      html, body {
        margin: 0; padding: 0;
        width: 100%; height: 100%;
        overflow: hidden;
      }
      
      main {
        width: 960px;
        margin: 0 auto;
      }
      
      #v1, #v2 {
        height: 300px;
        border: 1px solid #eee;
      }
      
      section {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      #v1 .left {
        min-width: 250px;
      }
      
      #v2 .top {
        min-height: 100px;
      }
      
      split-divider[wide] {
        background-color: #eee;
      }
      
      split-view[vertical] > split-divider[wide] {
        width: 10px;
      }
      
      split-view[horizontal] > split-divider[wide] {
        height: 10px;
      }
      
    </style>
  </head>
  <body>
    <main>
      <h1>Vertical Split View</h1>
      <split-view vertical id="v1">
        <section class="left">LEFT</section>
        <split-divider wide></split-divider>
        <section class="right" fill>RIGHT</section>
      </split-view>
      <h1>Horizontal Split View</h1>
      <split-view horizontal id="v2">
        <section class="top">TOP</section>
        <split-divider wide></split-divider>
        <section class="bottom" fill>BOTTOM</section>
      </split-view>
    </main>
    <script src="../split-view.js"></script>
  </body>
</html>

samples/pug/demo.pug
doctype html
html
  head
    title Split View Demo
    link(rel="stylesheet" href="../split-view.css")

    style.
      html, body {
        margin: 0; padding: 0;
        width: 100%; height: 100%;
        overflow: hidden;
      }

      main {
        width: 960px;
        margin: 0 auto;
      }

      #v1, #v2 {
        height: 300px;
        border: 1px solid #eee;
      }

      section {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #v1 .left {
        min-width: 250px;
      }

      #v2 .top {
        min-height: 100px;
      }

      split-divider[wide] {
        background-color: #eee;
      }

      split-view[vertical] > split-divider[wide] {
        width: 10px;
      }

      split-view[horizontal] > split-divider[wide] {
        height: 10px;
      }

  body
    main
      h1 Vertical Split View

      split-view(vertical)#v1
        section.left LEFT

        split-divider(wide)

        section(fill).right RIGHT

      h1 Horizontal Split View

      split-view(horizontal)#v2
        section.top TOP

        split-divider(wide)

        section(fill).bottom BOTTOM

    script(src="../split-view.js")
