samples/pug/index.pug
doctype html
html
  head
    title Split View Demo
    link(rel="stylesheet" href="../split-view.css")

    style.
      html, body {margin: 0; padding: 0; width: 100%; height: 100%;}

      #v1, #v2, #v3, #v4, #v5, #v6, #v7, #v8 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: lightgray;
        font-size: 50px;
        overflow: hidden;
      }

      #v1 {background-color: #00b7be;}
      #v2 {background-color: yellow;}
      #v3 {background-color: #5a6f93;}
      #v4 {background-color: #d17b59;}
      #v5 {background-color: #16d005;}
      #v6 {background-color: #e512cf;}
      #v7 {background-color: #ff6eb0;}
      #v8 {background-color: #d17b59;}

  body
    split-view(vertical)
      nav(style="width: 250px")#v1 1

      split-divider

      split-view(horizontal, fill)#v2
        #v3(style="height: 64px") 2

        split-divider

        split-view(vertical, fill)
          #v5(style="width: 400px") 3

          split-divider

          #v6(fill) 4

          split-divider

          #v7(style="width: 200px") 5

      split-divider

      #v8(style="width: 200px") 6

    script(src="../split-view.js")

samples/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Split View Demo</title>
    <link rel="stylesheet" href="../split-view.css">
    <style>
      html, body {margin: 0; padding: 0; width: 100%; height: 100%;}
      
      #v1, #v2, #v3, #v4, #v5, #v6, #v7, #v8 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: lightgray;
        font-size: 50px;
        overflow: hidden;
      }
      
      #v1 {background-color: #00b7be;}
      #v2 {background-color: yellow;}
      #v3 {background-color: #5a6f93;}
      #v4 {background-color: #d17b59;}
      #v5 {background-color: #16d005;}
      #v6 {background-color: #e512cf;}
      #v7 {background-color: #ff6eb0;}
      #v8 {background-color: #d17b59;}
      
    </style>
  </head>
  <body>
    <split-view vertical>
      <nav style="width: 250px;" id="v1">1</nav>
      <split-divider></split-divider>
      <split-view horizontal fill id="v2">
        <div id="v3" style="height: 64px;">2</div>
        <split-divider></split-divider>
        <split-view vertical fill>
          <div id="v5" style="width: 400px;">3</div>
          <split-divider></split-divider>
          <div id="v6" fill>4</div>
          <split-divider></split-divider>
          <div id="v7" style="width: 200px;">5</div>
        </split-view>
      </split-view>
      <split-divider></split-divider>
      <div id="v8" style="width: 200px;">6</div>
    </split-view>
    <script src="../split-view.js"></script>
  </body>
</html>
